<h3 align="center">На цій сторінці реалізовані різні типи взаємодії
    між батьківським та дочірнім компонентами</h3>
<hr>
<two [buttonName]="buttonName" (onChanged)="onChanged($event)" [(userName)] = "name" #counter>wait</two>
<hr>
<h4>Батьківський компонент</h4>
<!--
[buttonName] - прив*язка дочірньої властивості до вл-ті батьківського компонента (назва кнопки TEST EVENT визначена в батьківському компоненті)
(onChanged)="onChanged($event)" - за допомогою цього виразу прив'язуємо метод onChanged до події onChanged (),
що викликається в дочірньому компоненті. Параметр $event інкапсулює всі дані, які передаються з дочірнього компонента.
[(userName)] - двухстороння прив*язка властивостей батьківського і дочірніх компонентів
#counter - В даному випадку шаблонна змінна counter, визначена всередині тега <two>, тому вона буде представляти компонент SecondComponent.
-->
<button class="counter" (click)="increment()"><b>Counter 2 ++</b></button>
<p #nameParagraph>Counter 1 (дочірній метод): {{ clicks }} </p>
<!--
Визначення змінної lastUser в елементі параграфа означає, що вона буде представляти цю частину, тобто елемент p розмітки html.
І далі ми можемо звертатися до цього параграфу через дану змінну.
Наприклад, через властивість lastUser.textContent можна отримати текстовий вміст параграфа.
test - створена директива, при наведенні на текст шрифт змінюється
-->
<p #lastUser test>Властивість дочірнього компонента, передана через взаємодію компонентів: <i>{{ name }}</i></p>
